h2 {
  margin-bottom: 0;
}
p {
  margin: 0.25rem 0;
}

.nutrition-table {
  width: 350px;
  text-align: left;
  border-collapse: collapse;
}

.nutrition-table td, .nutrition-table th {
  border-bottom: 1px solid;
}

.nutrition-table td:last-child(2) {
  border-bottom: none;
}

.nutrition-table tr > td:nth-child(2),
th:nth-child(2) {
  text-align: right;
}


.nutrition-subrow td {
  padding-left: 1rem;
}

.nutrition-table .thick-up-border {
  border-top-width: 3px;
}

.nutrition-table .thick-bottom-border {
  border-bottom-width: 2px;
}
