md-card {
  margin-bottom: 1rem;
}
a[appBackButton] {
  margin-bottom: 2rem;
}
.header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.header img {
}

.header button {
  display: block;
  margin: 2rem 0;
}

.recipe-detail {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.ingredients {
  width: 400px;
}

.ingredients .mat-list .mat-list-item .mat-line {
  white-space: normal;
}
