<section class="shopping-list">
  <md-tab-group class="recipes">
    <md-tab label="Selected Recipes">
      <md-list>
        <md-list-item *ngFor="let recipe of getRecipes()">
          <button (click)="onRecipeClick(recipe)" md-line md-button>{{ recipe.label }}</button>
        </md-list-item>
      </md-list>
    </md-tab>
  </md-tab-group>

  <md-tab-group class="overview" [(selectedIndex)]="overviewIndex">
    <md-tab label="{{ selectedRecipe.label }} Ingredients" *ngIf="selectedRecipe">
      <p *ngFor="let ingred of selectedRecipe.ingredients">
        <md-checkbox md-line [checked]="ingred.isChecked" (click)="checkIngredient(ingred.name)">
          {{ ingred.name }}
        </md-checkbox>
      </p>
    </md-tab>
    <md-tab label="All Ingredients">
      <md-list>
        <template ngFor let-recipe [ngForOf]="getRecipes()">
          <h3 md-subheader>{{ recipe.label }}</h3>
          <md-list-item *ngFor="let ingred of recipe.ingredients">
            <p>{{ ingred.name }}</p>
          </md-list-item>
          <md-divider></md-divider>
        </template>
      </md-list>
    </md-tab>

    <md-tab label="Shopping List">
      <md-list>
        <template ngFor let-recipe [ngForOf]="getShoppingList()">
          <h3 md-subheader>{{ recipe.label }}</h3>
          <md-list-item *ngFor="let ingred of recipe.ingredients">
            <p>{{ ingred.name }}</p>
          </md-list-item>
          <md-divider></md-divider>
        </template>
      </md-list>
    </md-tab>
  </md-tab-group>
</section>

<app-shopping-actions>

</app-shopping-actions>
