.recipe-list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.recipe-card {
  width: 300px;
  margin: 0 1rem 1rem;
}

.recipe-card md-chip {
  margin: 0.25rem;
}

img:hover {
  cursor: pointer;
}

form {
  text-align: center;
  margin: 1rem;
}

.hint {
  color: grey;
  text-align: center;
}
